## Decision tree

Decision tree machine learning is a supervised learning algorithm that can be used for both classification and regression tasks. The goal is to create a model that predicts the value of a target variable by learning simple decision rules inferred from the data features. 

 `Types` 

> `1.`	CART (Classification and Regression Trees)

> `2.`	Random Forest 

> `3.`	Gradient Boosting Trees

> `4.`	XGBoost

In [77]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report,confusion_matrix 
from sklearn.tree import DecisionTreeClassifier
from sklearn.impute import SimpleImputer

In [78]:
Titanic_data=sns.load_dataset("titanic")
Titanic_data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [79]:
Titanic_data.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [80]:
# drop deck

Titanic_data.drop("deck",axis=1,inplace=True)
# Impute missing values
imputer=SimpleImputer(strategy="median")
Titanic_data["age"]=imputer.fit_transform(Titanic_data[["age"]])
imputer=SimpleImputer(strategy="most_frequent")
Titanic_data[["embarked","embark_town"]]=imputer.fit_transform(Titanic_data[["embarked","embark_town"]])

In [81]:
Titanic_data.isnull().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
embark_town    0
alive          0
alone          0
dtype: int64

In [82]:
# Encode the categorical and object variables using for loop and label encoder

for coll in Titanic_data.columns:
    if Titanic_data[coll].dtype=="object" or Titanic_data[coll].dtype=="category":
        Titanic_data[coll]=LabelEncoder().fit_transform(Titanic_data[coll])

Titanic_data.head(3)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
0,0,3,1,22.0,1,0,7.2500,2,2,1,True,2,0,False
1,1,1,0,38.0,1,0,71.2833,0,0,2,False,0,1,False
2,1,3,0,26.0,0,0,7.9250,2,2,2,False,2,1,True

In [83]:
# Spilt the data into 'X' and 'Y'
X=Titanic_data.drop("survived",axis=1)
Y=Titanic_data["survived"]

# spilt the data into train and test

X_train, X_test, Y_train, Y_test=train_test_split(X,Y,random_state=42)

In [84]:
# Train the model
model=DecisionTreeClassifier()
model.fit(X_train,Y_train)
perdic=model.predict(X_test)

In [85]:
print(confusion_matrix(Y_test,perdic))
print(classification_report(Y_test,perdic))

[[134   0]
 [  0  89]]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00       134
           1       1.00      1.00      1.00        89

    accuracy                           1.00       223
   macro avg       1.00      1.00      1.00       223
weighted avg       1.00      1.00      1.00       223

In [86]:
# Save the decision tree classifier
from sklearn.tree import export_graphviz
export_graphviz(model,out_file="./Models save/Decision tree_15.dot")