<div style="text-align: center; font-family: 'Times New Roman', Times, serif; background-color: #f5f5f5; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">

  <h1 style="color: #333; text-decoration: underline;">Python</h1>
  <h1 style="color: #333; text-decoration: underline;">Machine Learning</h1>
  <div style="font-style: italic; margin-top: 10px; color: #555;">Notebook Author: Shahzaib Yaqoob</div>
  <div style="font-weight: bold; margin-top: 5px; color: #555;">Gmail: shahzaibmalik4488@gmail.com</div>
  <p style="margin-top: 20px; color: #777;">Welcome to the world of Python and Machine Learning! Feel free to explore and innovate.</p>
  
  <!-- Navigation Links -->
  <div style="margin-top: 20px;">
    <a href="#tutorials" style="color: #555; margin-right: 20px;">Tutorials</a>
    <a href="#resources" style="color: #555; margin-right: 20px;">Resources</a>
    <a href="#examples" style="color: #555;">Examples</a>
  </div>

  <!-- Code Snippet -->
  <div style="margin-top: 20px;">
    <code style="background-color: #ddd; padding: 5px; color:#555">print("Hello, Python and Machine Learning!")</code>
  </div>

  <!-- Social Media Links -->
  <div style="margin-top: 20px;">
    <a href="https://github.com/shahzaiby" style="color: #555; margin-right: 20px;">GitHub</a>
    <a href="https://www.linkedin.com/in/shahzaibyaqoob/" style="color: #555; margin-right: 20px;">LinkedIn</a>
    <a href="https://twitter.com/shahzaib" style="color: #555;">Twitter</a>
  </div>

  <!-- Additional Styling -->
  <style>
    /* Add your additional styling here */
    a:hover {
      text-decoration: underline;
    }
  </style>

  <!-- Footer -->
  <div style="margin-top: 20px; color: #555;">
    &copy; 2023 Shahzaib Yaqoob. All rights reserved.
  </div>
  
</div>

# Standard Scaling or standardizing the data
`Standard scaling`, also referred to as `standardization` or `z-score normalization`, is a widely used preprocessing method in machine learning and statistics.Standardization is a scaling method that centers the values around the mean and gives them a unit standard deviation

 `The formula is as follows:`

z = (x - μ) / σ

- z is the standardized value,

- x is the original value,

- μ is the mean of the feature,

- σ is the standard deviation of the feature.

In [22]:
# import Library
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [23]:
data={'age':[21,22,23,24,25,26,27,28]
    ,'class':[1,2,3,4,5,6,7,8]
    ,'weight' :[65,55,65,67,69,68,69,70]     
      }
data1_df=pd.DataFrame(data)

In [24]:
Standard_scaler=StandardScaler()
st=Standard_scaler.fit_transform(data1_df)
# convert st in data frame
st=pd.DataFrame(st,columns=data1_df.columns)
st

        age     class    weight
0 -1.527525 -1.527525 -0.222222
1 -1.091089 -1.091089 -2.444444
2 -0.654654 -0.654654 -0.222222
3 -0.218218 -0.218218  0.222222
4  0.218218  0.218218  0.666667
5  0.654654  0.654654  0.444444
6  1.091089  1.091089  0.666667
7  1.527525  1.527525  0.888889

# `Min-max`, `MaxAbs`, and `Robust Scalars`

`Min-max scaling`, `MaxAbs scaling`, and `Robust` scaling are techniques commonly used in data preprocessing for machine learning
## Min-Max Scaling

- Min-Max Scaler : implemented by MinMaxScaler in scikit-learn, scales the features of a dataset to a specified range, commonly [0, 1].
- `Use: ` Neural networks, algorithms sensitive to scale
- `Range: `[0, 1]


- ` Formula: ` (X scaled)=(X-Xmin)/(Xmax-Xmin)​

 ## MaxAbs scaling
 - MaxAbs scaling is a data scaling technique used in preprocessing for machine learning. The purpose of MaxAbs scaling is to scale the features of a dataset based on their maximum absolute values. 

- `Use: ` Sparse data, maintaining sparsity

- `Range: `[0, 1] & [-1, 1] 
​
- `Formula: ` (X max)=(X)/(|Xmax|)​

## Robust scaling
- Robust scaling (RobustScaler) is a method used for scaling features to a specific range while being robust to outliers.

- `Use: ` Data with outliers, non-Gaussian distributions

- `Range: `Unbounded 

- Formula : `(X-Q1)/(Q3-Q1)`

-----

In [25]:
# import library
from sklearn.preprocessing import MinMaxScaler ,MaxAbsScaler,RobustScaler

## Min-Max Scaling

In [26]:
MinMax_Scaler=MinMaxScaler()
MinMax=MinMax_Scaler.fit_transform(data1_df)
# convert st in data frame
MinMax=pd.DataFrame(st,columns=data1_df.columns)
MinMax

        age     class    weight
0 -1.527525 -1.527525 -0.222222
1 -1.091089 -1.091089 -2.444444
2 -0.654654 -0.654654 -0.222222
3 -0.218218 -0.218218  0.222222
4  0.218218  0.218218  0.666667
5  0.654654  0.654654  0.444444
6  1.091089  1.091089  0.666667
7  1.527525  1.527525  0.888889

 ## MaxAbs scaling

In [27]:
MaxAbs=MaxAbsScaler()
Abs=MaxAbs.fit_transform(data1_df)
data1_df

   age  class  weight
0   21      1      65
1   22      2      55
2   23      3      65
3   24      4      67
4   25      5      69
5   26      6      68
6   27      7      69
7   28      8      70

## Robust scaling

In [28]:

Robust=RobustScaler().fit_transform(data1_df)
Robust

array([[-1.        , -1.        , -0.625     ],
       [-0.71428571, -0.71428571, -3.125     ],
       [-0.42857143, -0.42857143, -0.625     ],
       [-0.14285714, -0.14285714, -0.125     ],
       [ 0.14285714,  0.14285714,  0.375     ],
       [ 0.42857143,  0.42857143,  0.125     ],
       [ 0.71428571,  0.71428571,  0.375     ],
       [ 1.        ,  1.        ,  0.625     ]])